appdirs==1.4.0
attrs==16.3.0
Automat==0.5.0
constantly==15.1.0
cycler==0.10.0
functools32==3.2.3.post2
incremental==16.10.1
matplotlib==2.0.0
numpy==1.12.0
packaging==16.8
pyparsing==2.1.10
python-dateutil==2.6.0
pytz==2016.10
PyYAML==3.12
six==1.10.0
subprocess32==3.2.7
turtle==0.0.2
Twisted==17.1.0
zope.interface==4.3.3
